<a href="https://colab.research.google.com/github/Tstrebe2/predicting-text-difficulty/blob/dave-updates/dave_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
train_url = 'https://raw.githubusercontent.com/Tstrebe2/predicting-text-difficulty/main/assets/WikiLarge_Train.csv'

In [14]:
train_df = pd.read_csv(train_url)

In [15]:
train_df.head()

                                       original_text  label
0  There is manuscript evidence that Austen conti...      1
1  In a remarkable comparative analysis , Mandaea...      1
2  Before Persephone was released to Hermes , who...      1
3  Cogeneration plants are commonly found in dist...      1
4  Geneva -LRB- , ; , ; , ; ; -RRB- is the second...      1

In [23]:
train_df.sample(20)[['original_text', 
                     'label']].style.set_properties(subset=['original_text'], 
                                                    **{'width': '500px'})

In [ ]:
# Observations of things that need cleaning:
# join " 's " with their associated words; same with contractions  - done
# Some sentences are partials of other sentences within the corpus
# Need to address accents - not sure if I do
# Need to address punctuation (vectorizers) - handled through simple_preprocess
# Address weird quotations - (example at index 11005) '' yogurt ' ''
# Need to address -LRB and -RRB which are lemma references to left 
# and right parentheses - done
# remove 'â' (misformatting)
# 


# Observations
  # difficulty can be a combination of hard words, hard to pronounce or unfamiliar
  # names, long-run on sentences, harder topics (eg Linux kernel or
  # referring to dog breeds as an example) or just non-sensical sentences without
  # context

In [31]:
# Found a solution to help with contractions
!pip install contractions
!pip install gensim

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.1.72)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.24)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.4)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.3.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (3.6.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.21.6)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.15.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.7.3)

In [74]:
import re
import contractions
from gensim.utils import simple_preprocess

def clean_contractions(s):
  contract_lst = {'\'ve': '\'ve',
                ' \'ll': '\'ll',
                ' \'d': '\'d',
                ' n\'t': 'n\'t'}
  for key,value in contract_lst.items():
    # remove spaces between contractions
    s = re.sub(key, value,s)
  
  # replace contractions
  s = contractions.fix(s)

  # remove empty quotes
  s = re.sub('\'\'','',s)

  # remove lrb and rrb references
  pattern = r'(-LRB-|-RRB-)+'
  s = re.sub(pattern,'',s)


  # remove ndash
  s = re.sub('\sndash\s','',s)


  return simple_preprocess(s)
  # return ' '.join(word for word in simple_preprocess(s))

In [75]:
text = 'Mauves is a commune in the Ardèche département in southern France .'
fixed = clean_contractions(text)
fixed

['mauves',
 'is',
 'commune',
 'in',
 'the',
 'ardèche',
 'département',
 'in',
 'southern',
 'france']

'Costello did not record it himself until 1996 , on his album of the same title .'