<a href="https://colab.research.google.com/github/Tstrebe2/predicting-text-difficulty/blob/dave-updates/code/dave-eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import mutual_info_classif

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

import nltk
import collections

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
train_df = pd.read_csv('/content/drive/MyDrive/696/processed.csv')

In [5]:
train_df = train_df[['original_text','processed_text','label']]
train_df['processed_text'] = train_df['processed_text'].astype('U')

,original_text,processed_text,label
0,There is manuscript evidence that Austen conti...,there is manuscript evidence that austen conti...,1
1,"In a remarkable comparative analysis , Mandaea...",in a remarkable comparative analysis mandaean...,1
2,"Before Persephone was released to Hermes , who...",before persephone was released to hermes who ...,1
3,Cogeneration plants are commonly found in dist...,cogeneration plants are commonly found in dist...,1
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",geneva is the second-most-populous ci...,1

In [6]:
easy_bigrams = collections.Counter()
diff_bigrams = collections.Counter()

In [7]:
train_df['token_text'] = train_df['processed_text'].apply(lambda x: [word for word in x.split() if word not in set(['','in','and','of','the','is','on','a'])] )
train_df.head()

,original_text,processed_text,label,token_text
0,There is manuscript evidence that Austen conti...,there is manuscript evidence that austen conti...,1,"[there, manuscript, evidence, that, austen, co..."
1,"In a remarkable comparative analysis , Mandaea...",in a remarkable comparative analysis mandaean...,1,"[remarkable, comparative, analysis, mandaean, ..."
2,"Before Persephone was released to Hermes , who...",before persephone was released to hermes who ...,1,"[before, persephone, was, released, to, hermes..."
3,Cogeneration plants are commonly found in dist...,cogeneration plants are commonly found in dist...,1,"[cogeneration, plants, are, commonly, found, d..."
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",geneva is the second-most-populous ci...,1,"[geneva, second-most-populous, city, switzerla..."

In [8]:
def CheckBiGrams(tokens,cntr):
    cntr.update(nltk.bigrams(tokens))

diff_train = train_df[train_df['label']==1]
easy_train = train_df[train_df['label']==0]

diff_train.apply(lambda x: CheckBiGrams(x['token_text'],diff_bigrams),axis=1)
easy_train.apply(lambda x: CheckBiGrams(x['token_text'],easy_bigrams),axis=1)

208384    None
208385    None
208386    None
208387    None
208388    None
          ...
416763    None
416764    None
416765    None
416766    None
416767    None
Length: 208384, dtype: object

In [9]:
# 50 Most common bigrams for the difficult text
diff_bigrams.most_common(50)

[(('united', 'states'), 5610),
 (('known', 'as'), 5173),
 (('it', 'was'), 4222),
 (('to', 'be'), 3977),
 (('such', 'as'), 3766),
 (('he', 'was'), 3423),
 (('an', 'american'), 2521),
 (('as', 'well'), 2150),
 (('has', 'been'), 2128),
 (('can', 'be'), 2056),
 (('was', 'an'), 1935),
 (('well', 'as'), 1917),
 (('northern', 'france'), 1795),
 (('th', 'century'), 1789),
 (('also', 'known'), 1630),
 (('from', 'to'), 1630),
 (('new', 'york'), 1600),
 (('have', 'been'), 1587),
 (('was', 'born'), 1573),
 (('referred', 'to'), 1541),
 (('region', 'france'), 1460),
 (('for', 'his'), 1440),
 (('according', 'to'), 1409),
 (('football', 'player'), 1396),
 (('pas-de-calais', 'department'), 1384),
 (('commune', 'pas-de-calais'), 1382),
 (('there', 'are'), 1356),
 (('they', 'are'), 1354),
 (('as', 'an'), 1318),
 (('used', 'to'), 1309),
 (('due', 'to'), 1295),
 (('nord-pas-de-calais', 'region'), 1286),
 (('department', 'nord-pas-de-calais'), 1282),
 (('known', 'for'), 1282),
 (('to', 'as'), 1251),
 (('was', 'first'), 1250),
 (('best', 'known'), 1190),
 (('more', 'than'), 1182),
 (('which', 'was'), 1139),
 (('footballer', 'who'), 1126),
 (('was', 'released'), 1118),
 (('it', 'has'), 1118),
 (('commune', 'aisne'), 1105),
 (('united', 'kingdom'), 1104),
 (('aisne', 'department'), 1104),
 (('basse-normandie', 'region'), 1102),
 (('may', 'be'), 1094),
 (('to', 'have'), 1077),
 (('world', 'war'), 1039),
 (('plays', 'for'), 1020)]

In [10]:
# 50 most common bigrams for easy to understand text
easy_bigrams.most_common(50)

[(('it', 'found'), 5362),
 (('found', 'region'), 5190),
 (('united', 'states'), 4985),
 (('it', 'was'), 4977),
 (('he', 'was'), 3915),
 (('football', 'player'), 3374),
 (('to', 'be'), 3019),
 (('known', 'as'), 2751),
 (('north', 'france'), 2320),
 (('department', 'north'), 2313),
 (('such', 'as'), 2295),
 (('can', 'be'), 2030),
 (('commune', 'it'), 1994),
 (('there', 'are'), 1847),
 (('an', 'american'), 1842),
 (('they', 'are'), 1622),
 (('was', 'an'), 1524),
 (('has', 'been'), 1496),
 (('was', 'born'), 1470),
 (('was', 'first'), 1393),
 (('new', 'york'), 1367),
 (('it', 'has'), 1334),
 (('used', 'to'), 1324),
 (('northwest', 'france'), 1284),
 (('department', 'northwest'), 1282),
 (('pas-de-calais', 'department'), 1240),
 (('th', 'century'), 1238),
 (('region', 'nord-pas-de-calais'), 1227),
 (('nord-pas-de-calais', 'pas-de-calais'), 1227),
 (('have', 'been'), 1145),
 (('from', 'to'), 1110),
 (('as', 'well'), 1095),
 (('de', 'la'), 1082),
 (('aisne', 'department'), 1075),
 (('region', 'picardie'), 1063),
 (('picardie', 'aisne'), 1063),
 (('also', 'known'), 1019),
 (('she', 'was'), 1011),
 (('he', 'has'), 1006),
 (('calvados', 'department'), 1003),
 (('basse-normandie', 'calvados'), 994),
 (('region', 'basse-normandie'), 993),
 (('plays', 'for'), 990),
 (('more', 'than'), 976),
 (('did', 'not'), 966),
 (('he', 'plays'), 933),
 (('well', 'as'), 895),
 (('was', 'released'), 891),
 (('united', 'kingdom'), 884),
 (('pays', 'de'), 879)]

In [14]:
# Evaluating whether there is a difference between mean token lengths between the easy/difficult texts
train_df.groupby('label')['token_text'].apply(lambda x: np.mean(x.str.len()))

label
0    11.765145
1    16.005403
Name: token_text, dtype: float64

In [21]:
# Evaluating what "features" are most important in our classification task...exploring what data we get back for tf-idf vectorizers

In [23]:
vectorizer = TfidfVectorizer(
                            min_df= 2,
                            max_df=.995,
                            max_features=5000,
                            ngram_range=(1,3),
                            stop_words='english')

In [24]:
X_train = vectorizer.fit_transform(train_df.processed_text)

In [26]:
y_train = train_df.label

In [28]:
import warnings
warnings.filterwarnings('ignore')
result = dict(zip(vectorizer.get_feature_names(), mutual_info_classif(X_train, y_train, discrete_features=True)))

In [30]:
sorted_result = sorted(result.items(), key=lambda item: item[1])

In [34]:
sorted_result[::-20]

[('born', 0.02809008544230052),
 ('national', 0.011030829235212475),
 ('war', 0.007541683652862186),
 ('early', 0.0065161366946063235),
 ('largest', 0.00581112677668762),
 ('long', 0.005122567273066937),
 ('professional', 0.004676612510432629),
 ('nord', 0.004343720239431437),
 ('song', 0.0040155686002334105),
 ('sea', 0.0036913653366483024),
 ('public', 0.003464518763428493),
 ('tropical', 0.0032784683638568952),
 ('european', 0.0030709656374351807),
 ('park', 0.00291862040149197),
 ('free', 0.002730889986587664),
 ('gironde', 0.0025995309802274626),
 ('having', 0.002487997763427144),
 ('christian', 0.0023080052381362582),
 ('lake', 0.0022365587815522036),
 ('department nord', 0.002146910979479698),
 ('little', 0.0020792413810416894),
 ('fourth', 0.0020225920416049267),
 ('region pays', 0.0019565916280076395),
 ('gave', 0.0019155089829945569),
 ('normandie region', 0.0018595158580498804),
 ('social', 0.0018054271721828425),
 ('surface', 0.0017690815445034803),
 ('spain', 0.0017363838791028562),
 ('elected', 0.0016722352709008634),
 ('websites', 0.0016439181101541849),
 ('caused', 0.001608786138562314),
 ('continued', 0.001566343654424093),
 ('born june', 0.0015246132303649686),
 ('post', 0.001484579927992312),
 ('bay', 0.0014453069530477995),
 ('hit', 0.0014097623447107215),
 ('stars', 0.0013830840606232158),
 ('view', 0.0013578101464960036),
 ('material', 0.001332069910153823),
 ('brand', 0.001299224830078095),
 ('base', 0.0012683594630379788),
 ('jr', 0.0012433610212842692),
 ('physical', 0.00121385640279299),
 ('higher', 0.0011935099069286608),
 ('department southwest france', 0.0011689433207838027),
 ('region aquitaine', 0.0011522637735261972),
 ('era', 0.0011276834348778828),
 ('depression', 0.001099037600709354),
 ('austrian', 0.0010795755553309585),
 ('gas', 0.001063835511717027),
 ('professor', 0.0010475042242337374),
 ('nuclear', 0.0010319035135633926),
 ('region northwestern france', 0.0010155934382662822),
 ('dr', 0.0010033344059616335),
 ('municipality located', 0.0009913215002709955),
 ('rest', 0.0009729648608241921),
 ('iv', 0.000962572118997455),
 ('appointed', 0.0009397094150061862),
 ('adopted', 0.0009209176788087151),
 ('korean', 0.0008969025934122434),
 ('el', 0.000881887136115271),
 ('week', 0.0008654662439882635),
 ('highly', 0.0008565178716938642),
 ('solo', 0.0008365742101397486),
 ('arthur', 0.0008294872697821759),
 ('birds', 0.0008167171468192147),
 ('die', 0.0008067509271096019),
 ('saturn', 0.0007983164865223791),
 ('subject', 0.0007901008025160143),
 ('eastern france', 0.0007789217367479702),
 ('massachusetts', 0.0007704275467758389),
 ('acts', 0.0007609178996687598),
 ('normally', 0.0007511044846323767),
 ('physics', 0.0007379169240235076),
 ('cm', 0.0007294872601234797),
 ('vice', 0.0007230417112818776),
 ('listed', 0.0007149653914618787),
 ('needed', 0.0007030792462679274),
 ('der', 0.0006971284308073388),
 ('midfielder', 0.0006910617031070931),
 ('fruit', 0.000686891159027531),
 ('province pakistan', 0.0006817198758185232),
 ('outer', 0.0006765049672838021),
 ('represented', 0.0006707025483750949),
 ('families', 0.000663495370978972),
 ('argentina', 0.0006585775306275834),
 ('boys', 0.0006533150253893574),
 ('spread', 0.0006478000348782442),
 ('tells', 0.0006421318220779756),
 ('speech', 0.0006344958121772507),
 ('jazz', 0.0006286404840980546),
 ('moscow', 0.0006219563400287174),
 ('kinds', 0.0006177834678422562),
 ('freedom', 0.0006112137346115313),
 ('dictionary', 0.0006047290001190652),
 ('jane', 0.0005988949949578986),
 ('constructed', 0.0005946476652734869),
 ('memorial', 0.0005860886635656985),
 ('stephen', 0.0005821195934957713),
 ('cents', 0.0005767050057353982),
 ('claim', 0.0005692634498818313),
 ('ministry', 0.0005628178920444687),
 ('grammy', 0.0005588034483015819),
 ('sky', 0.0005538001813448455),
 ('intended', 0.0005479197116323842),
 ('stock', 0.0005440724135293074),
 ('city state', 0.0005388901694897175),
 ('account', 0.000532237577056824),
 ('originated', 0.000526093369558689),
 ('deal', 0.0005224789919764906),
 ('italian football player', 0.0005172545568842642),
 ('gods', 0.0005138806352816635),
 ('people living', 0.0005090604229540784),
 ('scientists', 0.0005047511905745892),
 ('charts', 0.0005006192091750235),
 ('atlantic hurricane season', 0.0004964594882188033),
 ('file', 0.0004922919429948631),
 ('bavaria', 0.0004883338726250074),
 ('issues', 0.00048421134197123845),
 ('rb', 0.0004800472550092975),
 ('reaching', 0.0004769393680919613),
 ('snow', 0.0004735616039016025),
 ('region provence', 0.00047089854939895523),
 ('geneva', 0.00046690527537560816),
 ('occasionally', 0.00046201164917587453),
 ('ds', 0.0004577825997731994),
 ('sisters', 0.0004540073837744896),
 ('focus', 0.00045113674609963475),
 ('hits', 0.00044820627595155223),
 ('warner', 0.00044532204115554626),
 ('opposed', 0.0004424390492803879),
 ('teaching', 0.00043846961618578255),
 ('facilities', 0.0004365595343005685),
 ('football club plays', 0.000430931257397237),
 ('westphalia', 0.00042760574000214215),
 ('viii', 0.00042299222899289547),
 ('nickname', 0.0004209652480169544),
 ('fossil', 0.0004167825725043407),
 ('perfect', 0.0004132817853220341),
 ('description', 0.00040996098352717204),
 ('connection', 0.00040662918989969914),
 ('catherine', 0.0004039814789477665),
 ('magnitude', 0.00039957956238549717),
 ('civilization', 0.0003962451532318953),
 ('styles', 0.0003926887946983274),
 ('planets', 0.00038918344507837105),
 ('kg', 0.00038618287790769554),
 ('tools', 0.00038452768658314815),
 ('magic', 0.0003816807632314814),
 ('recognition', 0.0003792407872694151),
 ('canal', 0.0003765274808970241),
 ('douglas', 0.00037384750614121104),
 ('bigger', 0.00037135992399679746),
 ('defensive', 0.0003682458877870406),
 ('jacques', 0.00036552886182767796),
 ('releases', 0.00036298943633909114),
 ('heavily', 0.0003596783464825938),
 ('output', 0.00035799184181326866),
 ('turns', 0.00035591412171117535),
 ('zero', 0.00035340451232471936),
 ('gordon', 0.0003509261875313759),
 ('oliver', 0.00034756631267136753),
 ('sounds', 0.0003454948141229907),
 ('adults', 0.0003428512508365469),
 ('moment', 0.00034176104528073977),
 ('austen', 0.0003396900766833349),
 ('closest', 0.0003371796723164643),
 ('supreme court', 0.0003351113534649822),
 ('artistic', 0.0003334583858801555),
 ('requires', 0.0003317940883939783),
 ('scoring', 0.0003284805320358114),
 ('accounts', 0.00032622743580583034),
 ('specialized', 0.0003234864973117754),
 ('factory', 0.00032180367493231236),
 ('conquest', 0.0003201421361861494),
 ('grace', 0.0003180389784746741),
 ('chase', 0.0003160038392308941),
 ('stable', 0.00031434804307346905),
 ('syria', 0.0003133234499772007),
 ('lowest', 0.0003116608110382674),
 ('arnold', 0.0003095815367684078),
 ('strongly', 0.00030768736106628804),
 ('dissolved', 0.0003060231035178306),
 ('documentary', 0.000304814042615124),
 ('brazilian footballer', 0.00030278638089231756),
 ('refused', 0.0003014405325470833),
 ('editing', 0.0003002774105704028),
 ('finishing', 0.00029937397592185507),
 ('anglican', 0.0002973010488169831),
 ('oceans', 0.0002956403108688037),
 ('survive', 0.00029312363952077656),
 ('measurement', 0.0002914596238433425),
 ('gilbert', 0.0002897994846625321),
 ('metro', 0.0002881379688509677),
 ('trained', 0.0002868806354877442),
 ('commune vendà', 0.00028448264488736504),
 ('rhône alpes', 0.0002827676457450933),
 ('eldest', 0.0002814991625819519),
 ('lennon', 0.000280632315053115),
 ('walk', 0.0002794095554023696),
 ('potassium', 0.00027774649013274347),
 ('thursday', 0.0002756497199844689),
 ('remembered', 0.0002735789125806781),
 ('anderson', 0.00027275713313791155),
 ('azur region southeastern', 0.00027116975859824757),
 ('khyber pakhtunkhwa', 0.0002695019877096155),
 ('horizontal', 0.00026818429603154545),
 ('simpsons', 0.00026691930229320995),
 ('successfully', 0.000265104395770079),
 ('ottoman empire', 0.00026440870201849384),
 ('strengthened', 0.0002630191427885543),
 ('generated', 0.00026154137686428556),
 ('commune aube dà', 0.0002599690523168118),
 ('replacing', 0.0002590171264101381),
 ('dallas', 0.0002577911932558771),
 ('pepper', 0.0002565329153639761),
 ('warsaw', 0.0002548697061258462),
 ('il', 0.00025361486098824813),
 ('queens', 0.00025279862236506263),
 ('barbara', 0.00025046043733383477),
 ('sure', 0.00024948724179833147),
 ('shah', 0.00024839607515198306),
 ('scheme', 0.00024737535298906705),
 ('programme', 0.00024614934489258696),
 ('american singer songwriter', 0.00024490232077487635),
 ('temperate', 0.00024323546589262636),
 ('trilogy', 0.00024260756945410008),
 ('abu', 0.00024092192524623874),
 ('capital largest', 0.00023916700827107638),
 ('cello', 0.00023783091997516632),
 ('ukrainian', 0.00023657561406142884),
 ('tend', 0.00023533300232950812),
 ('collected', 0.00023406484101252872),
 ('walking', 0.00023243381516893337),
 ('nevada', 0.00023117781812698567),
 ('abraham', 0.00022992345676079953),
 ('feathers', 0.00022825908413372884),
 ('dj', 0.00022618896793197816),
 ('powell', 0.00022452902423324278),
 ('subdivided', 0.00022271678067111586),
 ('honorary', 0.00022100212548530198),
 ('argued', 0.0002182805602007577),
 ('harbour', 0.00021536254609748177),
 ('lanka', 0.00021268466825758738),
 ('quartet', 0.00020996592501320026),
 ('whale', 0.0002064735363765578),
 ('shift', 0.00020165597020204402),
 ('theology', 0.00019204656806563194),
 ('kirby', 0.0001829472960479897),
 ('crusade', 0.0001684199972182958)]

In [68]:
mnb = MultinomialNB().fit(X_train, y_train)

In [69]:
mnb.score(X_train, y_train)

0.6284215678746928

In [75]:
rf = RandomForestClassifier(n_estimators=100,
                       max_depth=100,
                       min_samples_split=10
                       ).fit(X_train,y_train)