<a href="https://colab.research.google.com/github/Tstrebe2/predicting-text-difficulty/blob/dave-updates/code/dave_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import sys
!{sys.executable} -m pip install pyspark==3.1.2 -q
!{sys.executable} -m pip install spark-nlp==4.2.0 -q

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
df = pd.read_csv('drive/MyDrive/696/text_difficulty_features.csv',sep='\t')
df.sample(25)

,original_text,lemmatized_text,d_chall_score,aoa_mean,aoa_min,aoa_max,conc_rating_mean,conc_rating_min,conc_rating_max,num_lemmas,label
47861,Counting is the action of finding the number o...,Counting be the action of find the number of e...,5.727975,5.855333,2.89,12.84,2.353125,1.43,3.66,16.0,1
368641,Essars is a commune . It is found in the regio...,Essars be a commune . It be find in the region...,6.518500,5.526875,2.89,12.05,2.442500,1.43,4.14,20.0,0
170928,"The FSF is incorporated in Massachusetts , USA .","The FSF be incorporate in Massachusetts , USA .",9.370057,6.612500,3.69,13.67,2.107500,1.43,3.00,7.0,1
293142,Age of Discovery starts .,Age of Discovery start .,8.093400,5.285000,4.37,7.84,2.400000,1.67,2.86,4.0,0
268860,Denmark is the smallest of the Scandinavian co...,Denmark be the small of the Scandinavian count...,4.344300,4.648333,3.22,7.05,2.295000,1.43,4.17,8.0,0
184692,It is the second busiest airport in Malaysia a...,It be the second busy airport in Malaysia afte...,8.187600,5.531500,3.69,8.67,2.675000,1.43,4.87,25.0,1
157618,The music video was directed by Travis Kopach ...,The music video be direct by Travis Kopach and...,8.787800,5.527000,3.69,9.68,2.894546,1.43,4.71,18.0,1
58751,"After graduating , he became involved in real ...","After graduate , he become involve in real est...",7.344964,6.205625,3.69,11.70,2.904000,1.43,4.88,17.0,1
114890,"In 1990 , June Tabor recorded an album with th...","In 1990 , June Tabor record an album with the ...",6.156133,5.459231,3.60,8.00,3.194667,1.43,4.97,18.0,1
217341,"Now , laser engraving machines are being made ...","Now , laser engrave machine be be make and eve...",5.397564,6.284545,3.69,11.56,2.643182,1.43,4.55,22.0,0
341915,Beyond the Gates (/O2004/O),Beyond the Gates ( /O2004/O ),12.040900,5.150000,3.98,6.32,1.575000,1.43,1.72,4.0,0
171772,"Astrid Lindgren grew up in NÃ s , near Vimmerb...","Astrid Lindgren grow up in NÃ s , near Vimmerb...",6.148062,4.943000,2.92,9.89,2.903158,1.52,4.90,26.0,1
296854,It is found in the region Basse-Normandie in t...,It be find in the region Basse-Normandie in th...,6.714850,5.388462,3.69,9.84,2.486923,1.43,3.59,16.0,0
66844,It was mentioned for the first time in 1233 in...,It be mention for the first time in 1233 in th...,5.278911,5.418667,3.69,9.72,2.544667,1.43,4.10,18.0,1
169699,"As of 2000 , the population was 33,647 .","As of 2000 , the population be 33,647 .",7.114343,5.570000,3.98,8.11,1.984000,1.33,3.64,7.0,1
283634,Truro is the capital city of Cornwall .,Truro be the capital city of Cornwall .,4.858629,5.660000,3.98,8.10,2.768000,1.43,4.79,7.0,0
278546,After the Irish Free State was established in ...,After the Irish Free State be establish in 192...,5.946452,5.203333,3.69,10.63,2.163333,1.33,4.11,23.0,0
72963,July 17 -- The Bank of Scotland is founded by ...,July 17 -- The Bank of Scotland be founded by ...,8.421874,6.059166,3.72,12.00,2.367143,1.43,4.78,19.0,1
173564,The BCT ( Brigade Combat Team ) Ground Combat ...,The BCT ( Brigade Combat Team ) Ground Combat ...,10.411657,7.053478,3.69,11.58,3.403913,1.43,4.77,28.0,1
256052,Year 2003 was a common year starting on Wednes...,Year 2003 be a common year start on Wednesday ...,5.503262,4.822000,2.89,6.94,2.609091,1.43,4.62,13.0,0
85582,"Russia views the Estonian , Latvian , and Lith...","Russia view the Estonian , Latvian , and Lithu...",9.703927,7.043334,3.98,14.94,2.125333,1.33,3.52,22.0,1
207465,It is also the state song of Oklahoma .,It be also the state song of Oklahoma .,2.370550,5.047143,3.98,6.64,2.510000,1.43,4.46,8.0,0
28522,A G-string ( alternatively gee-string or gee s...,A G-string ( alternatively gee-string or gee s...,5.652849,5.056000,2.89,10.44,2.865217,1.33,4.96,49.0,1
47628,Some towns and suburbs have two postcodesâ one...,Some town and suburb have two postcodesâ one f...,3.629671,5.198125,3.23,9.52,3.314667,1.52,4.90,17.0,1
335578,John Keats ( 31 October 1795 -- 23 February 18...,John Keats ( 31 October 1795 -- 23 February 18...,14.005569,6.860000,5.11,8.61,2.726667,1.46,4.36,13.0,0

In [30]:
df.dtypes

original_text        object
lemmatized_text      object
d_chall_score       float64
aoa_mean            float64
aoa_min             float64
aoa_max             float64
conc_rating_mean    float64
conc_rating_min     float64
conc_rating_max     float64
num_lemmas          float64
label                 int64
dtype: object

In [31]:
# Extract only the columns we'll use for the classifier
df = df[df.columns[1:]]

In [9]:
from sklearn.model_selection import train_test_split

In [33]:
X = df[df.columns[:-1]]
y = df.label

X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=.1,
                                                    stratify=y,
                                                    random_state=99)

In [36]:
X_train.shape

(355652, 9)

In [8]:
# NaiveBayes Classifier Baseline
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
mnb =

In [38]:
tf_vec = TfidfVectorizer(min_df = 20,
                         stop_words='english',
                         ngram_range=(1, 3))

In [39]:
X_train_vec = tf_vec.fit_transform(X_train['lemmatized_text'])

In [41]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'alpha': [0.001, 0.01, 0.1, 1,5,10,,50, 100]}
grid_mnb = GridSearchCV(MultinomialNB(), param_grid, scoring=)
grid_mnb.fit(X_train,y_train)